<section id="abilities">
	<div class="container">
		<h2 class="h-middle">abilities</h2>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="text-block">
					<p class="text">
						Taking into account our team’s proficiency, we are able to develop and implement amplitudinous
						solutions concerning: security and surveillance systems, multimedia systems, electronic document
						processing systems, comand and control centres, data-centres.
					</p>
					<p class="text">
						We treasure our Customer's needs and complete satisfaction, and more, we will save our partner's
						project information privacy.
					</p>
				</div>
				<div class="row row-flex">
					<div class="col-md-4 col-xs-6">
						<div class="security-systems vc-parent">
							<span class="text vc-child">
								security & surveillance	systems
							</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-6">
						<div class="multimedia-systems vc-parent">
							<span class="text vc-child">
								multimedia systems
							</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-6">
						<div class="electronic-document-systems vc-parent">
							<span class="text vc-child">
								electronic document	processing systems
							</span>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-2 col-xs-6">
						<div class="command-centres vc-parent">
							<span class="text vc-child">
								command & control centres
							</span>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-3">
						<div class="data-centres vc-parent">
							<span class="text vc-child">
								data-centres
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>