<section id="about-us">
	<div class="container">
		<h2 class="h-middle">
			ABOUT US
		</h2>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p class="text">INOVA SYSTEMS LTD. is a promising company in system integration area.
					We concentrate on business development in IT and service market.</p>
				<p class="text">Our work comprises: <strong>system integration</strong>, maintaining <strong>international cooperation</strong> between
					different companies, <strong>creation and implementation</strong> of innovative services and solutions for complex
					systems.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-8 col-lg-offset-2 icons-clock">
				<div class="col-sm-4">
					<div class="system-integration">
						<img src="assets/images/about-us/about-us-1.svg" alt="system-integration">
						<div class="title">system-integration</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="international-cooperation">
						<img src="assets/images/about-us/about-us-2.svg" alt="international cooperation">
						<div class="title">international cooperation</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="creation-and-implementation">
						<img src="assets/images/about-us/about-us-3.svg" alt="creation and implementation">
						<div class="title">creation and implementation</div>
					</div>
				</div>
				<div class="triangles-gray"></div>
			</div>
		</div>
	</div>

</section>