<section id="customer-support">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
				<div class="customer-support vc-parent">
					<div class="vc-child">
						<h4>Customer support</h4>
						<p>Our customer support team is available 24/7 to answer your questions and offer assistance.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>