<div class="menu-controls-wr">
	<div class="container menu-controls">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-2 col-lg-8 col-lg-offset-3">
				<img src="assets/images/logos/logo.svg" id="logo" alt="inova">
				<a href="#" id="menu-trigger">
					<i class="line"></i>
					<i class="line"></i>
					<i class="line"></i>
				</a>
				<ul class="languages">
					<li><a href="#" class="en">en</a></li>
					<li><a href="#" class="bg">bg</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="menu-wr">
	<ul id="menu">
		<li><a href="#header" class="active">Main</a></li>
		<li><a href="#about-us">About Us</a></li>
		<li><a href="#our-services">Our Services</a></li>
		<li><a href="#our-team">Our Team</a></li>
		<li><a href="#abilities">Abilities</a></li>
	</ul>
</div>