<section id="our-services">
	<div class="container">
		<h2 class="h-middle">Our services</h2>
		<div class="row-flex">
			<div class="information-security">
				<div class="heading vc-parent">
					<span class="vc-child">Information security</span>
				</div>
				<p class="text">
					Client’s information is his most valuable asset to protect. So we provide full
					range services on information security including the protection of data confidentiality,
					integrity and availability.
				</p>
			</div>
			<div class="it-infrastructure">
				<div class="heading vc-parent">
					<span class="vc-child">IT-infrastructure</span>
				</div>
				<p class="text">
					IT-infrastructure creation aims making the Customer feel safe and comfortable. Further advantages
					of business integration approach are as follows: significant decrease of expenses, effective
					enhancement of productivity, full compliance with nowadays business requirements.
				</p>
			</div>
			<div class="it-consulting">
				<div class="heading vc-parent">
					<span class="vc-child">IT-consulting</span>
				</div>
				<p class="text">
					We stick to our client’s background to
					provide him with the best service possible. Deep analytical research helps us to find and
					implement most suitable IT solutions to make the client capable of enhancing his productivity.
				</p>
			</div>
			<div class="custom-software-development">
				<div class="heading vc-parent">
					<span class="vc-child">Custom software development</span>
				</div>
				<p class="text">
					INOVA SYSTEMS LTD. always pays attention to Customer’s unique traits to meet all the project
					objectives. We adapt the standard solutions of widely known brands as Oracle, Microsoft,
					SAP etc. and customize them for integration to specific business areas. To get to the top in
					development of custom software solutions and business intelligence, we work hard on application
					creation as a business tool for increasing mobility, efficiency and profit.
				</p>
			</div>
			<div class="enterprise-information-management">
				<div class="heading vc-parent">
					<span class="vc-child">Enterprise Information Management</span>
				</div>
				<p class="text">
					Enterprise Information Management (EIM) is for corporate data storage and management.
					Our EIM-based solutions help to collect and structurize all the information concerning every
					separate organization (electronic and paper documents including). This way of database managing
					is easy and efficient.
				</p>
			</div>
			<div class="surveillance-systems">
				<div class="heading vc-parent">
					<span class="vc-child">Surveillance systems</span>
				</div>
				<p class="text">
					INOVA SYSTEMS LTD. is constantly in touch with the latest technological solutions in security
					area. We always update our knowledge of security market and embed best software and
					technological innovations upon the Client’s request. Step-by- step implementation makes the
					integration easy and Customer satisfied.
				</p>
			</div>
		</div>
	</div>
</section>